.group
  .title= group_title
  .content
    %dl
      %dt Number
      %dd= @part.number
      %dt Kind
      %dd= @part.kind
      - unless @part.description.blank?
        %dt Description
        %dd= @part.description
