%table
  %thead
    %tr
      %th Location
      %th P/N
      %th Description
      %th
  %tfoot
    %tr
      %td{colspan: 3}
      %td
        %ul.icons
          - if can? :create, Checkpoint
            %li= icon_to 'New', new_protocol_checkpoint_path(protocol)
  %tbody
    = render partial: 'checkpoints/table_row', collection: checkpoints.sort_natural, as: :c
