.group
  .title= group_title
  .item_titles
    Registration
    %br
    Manufacturer
    %br
    Model
    %br
  .items
    = link_to_unless_current @aircraft.registration, @aircraft
    %br
    = @aircraft.manufacturer
    %br
    = @aircraft.model
    %br
  .clear

