= title 'Edit Aircraft'

= render 'form'

.actions
  - if can? :read, @aircraft
    = link_to 'Show', @aircraft
  - if can? :read, Aircraft
    |
    = link_to 'Back to Aircraft List', aircrafts_path
