%table
  %thead
    %tr
      %th No
      %th Description
      %th
  %tfoot
    %tr
      %td{colspan: 2}
      %td
        %ul.icons
          - if can? :create, Konfiguration
            %li= icon_to 'New', new_aircraft_konfiguration_path(aircraft)
  %tbody
    = render partial: 'konfigurations/table_row', collection: konfigurations, as: :k
