.group
  .title Zones
  .content
    %table
      %thead
        %tr
          %th Name
          %th Description
          %th Insp. Interval.
          %th
      %tfoot
        %tr
          %td{colspan: 3}
          %td
            %ul.icons
              - if can? :create, Zone
                %li= icon_to 'New', new_konfiguration_zone_path(@konfiguration)
      %tbody
        = render partial: 'zones/zone_row', collection: zones.order(:name), as: :zone
