.group
  .title Zones
  .content
    %table
      %thead
        %tr
          %th Name
          %th Description
          %th Insp. Interval.
          %th
      %tfoot
        %tr
          %td
          %td
          %td
          %td
            %ul.icons
              %li= icon_to 'New', new_konfiguration_zone_path(@konfiguration)
      %tbody
        = render :partial => 'zones/zone_row', :collection => zones.asc, :as => :zone
