.fill_loc_help
  %p
    %strong To reset coordinates:
  %p.fill_loc_step_1
    1. Click
    %em top left
    location of item on image.
  %p.fill_loc_step_2
    2. Click
    %em bottom right
    location of item on image.
  %p.fill_loc_step_3
    3.
    %em Done!
