.group
  .title Item
  .content
    = f.input :name, :input_html => { :size => 4 }
    = f.input :part_number, :input_html => { :size => 20, data: {autocomplete_source: parts_path} }
    =# f.input :location, :input_html => { :size => 20, data: {autocomplete_source: locations_path} }
