.group
  .title Item
  .content
    = f.input :name, :input_html => { :size => 4 }
    = f.input :kind, :collection => Item::Kinds, :include_blank => false, :prompt => '(Select one)'
    = f.input :part_number, :input_html => { :size => 20, data: {autocomplete_source: parts_path} }
    =# f.association :part, :include_blank => false, :prompt => '(Select one)'
