.group
  .title Items
  .content
    %table{:id => 'items_table'}
      %thead
        %tr
          %th Name
          %th Kind
          %th P/N
          %th
      %tfoot
        %tr
          %td
          %td
          %td
          %td
            %ul.icons
              - if can? :create, Item
                %li= icon_to 'New', new_zone_item_path(@zone)
      %tbody
        = render :partial => 'items/item_row', :collection => items.sort_natural, :as => :item
