.group
  .title= group_title
  .content
    %dl
      %dt Name
      %dd= @item.name
      %dt Kind
      %dd= @item.kind
      - if @item.part
        %dt P/N
        %dd= link_to @item.part.number, @item.part
