.group.right_column
  .title= group_title
  .item_titles
    Name
    %br
    Kind
    %br
    P/N
    %br
  .items
    = @item.name
    %br
    = @item.kind
    %br
    = @item.part.try(:number)
    %br
  .clear
