////////////////////////////////////////////
//
// General Elements
//
body
  margin: 0px
  background-attachment: fixed !important
  @include gradient
  font:
    family: Verdana, Helvetica, Arial
    size: 1em
    color: $fore_color

////////////////////////////////////////////
//
// Links
//
a
  color: blue
  text-decoration: none
  &:hover
    text-decoration: underline
  img
    border: none

h1
  a
    color: $fore_color


////////////////////////////////////////////
//
// Definition Lists
//
dl
  margin: 0
  dt, dd
    margin-bottom: 10px
  dt
    float: left
    width: 140px
    text-align: right
    display: block
  dd

    margin-left: 160px

////////////////////////////////////////////
//
// Default Tables
//
table
  border-collapse: collapse

td, th
  padding: 2px 7px 2px 7px

thead
  th
    text-align: left
    padding-top: 5px
    padding-bottom: 4px
    background-color: darken($pri_color, 30%)
    color: $back_color
    border:
      top: 2px solid darken($pri_color, 40%)
      bottom: 1px solid darken($pri_color, 40%)

tfoot
  td
    text-align: left
    padding-top: 5px
    padding-bottom: 4px
    background-color: lighten($sec_color, 0%)
    color: $back_color
    border:
      top: 1px solid darken($sec_color, 40%)
      bottom: 2px solid darken($sec_color, 40%)

tbody
  tr, tr.alt
    &:hover
      background-color: lighten($pri_color, 15%)
  tr.alt
    background-color: lighten($pri_color, 25%)
  td, th
    border-bottom: 1px dotted darken($pri_color, 40%)


////////////////////////////////////////////
//
// Main layout elements
//
#header
  background: darken($pri_color, 40%)
  color: white
  padding: 4px 100px
  border-bottom: solid 5px darken($pri_color, 60%)
  h1
    font-size: 2em

#footer
  font-size: 0.7em
  padding: 50px
  text-align: right

#main
  margin: 2% 5%
  border: solid 2px darken($pri_color, 40%)
  @include rounded-corners(10px)
  background: $back_color
  padding: 20px 40px

.actions
  clear: both
  border-top: solid 1px darken($pri_color, 40%)
  margin: 20px 0px
  padding: 10px 0px

.item_location
  border: 3px solid darken(yellow, 30%)
  background-color: yellow
  opacity: 0.4
  position: absolute
  left: 0px
  top: 0px


////////////////////////////////////////////
//
// End
//
