////////////////////////////////////////////
//
// Variables
//
$pri_color: #AAD48E
$sec_color: #F0F0F0
$back_color: white
$fore_color: black
$notice_color: #ccffcc
$error_color: #cc0000

////////////////////////////////////////////
//
// End
//
