%table
  %thead
    %tr
      %th Action
      %th Item
      %th Description
      %th ETR
      %th Technician
      %th Closing Date
      %th Engineer
      %th
  %tfoot
    %tr
      %td{colspan: 8}
  %tbody
    = render partial: 'tascs/table_row', collection: tascs, as: :a
