%table
  %thead
    %tr
      %th Action
      %th Item
      %th Description
      %th ETR
      - if info == :full
        %th Aircraft
        %th Zone
      %th Open Date
      %th Close Date
      %th
  %tfoot
    %tr
      %td{colspan: info == :full ? 9 : 7}
  %tbody
    = render partial: 'tascs/table_row', collection: tascs, as: :a, locals: { info: info }
