.group
  .title Tasks
  .content
    %table
      %thead
        %tr
          %th Item
          %th P/N
          %th Description
          %th Action
          %th Technician
          %th Closing Date
          %th Responsible
          %th
      %tfoot
        %tr
          %td{colspan => 8}
      %tbody
        = render :partial => 'tascs/tasc_row', :collection => tascs, :as => :tasc
