%table
  %thead
    %tr
      %th Name
      %th X1
      %th Y1
      %th X2
      %th Y2
      %th
  %tfoot
    %tr
      %td{colspan: 5}
      %td
        %ul.icons
          %li= icon_to 'New', new_image_location_path(image)
  %tbody
    = render partial: 'locations/table_row', collection: locations, as: :o
