= title 'New Location', "New Location on |
                        #{File.basename @image.file_url, '.*'}" |

= render 'form', { :target => [@image, @location] }

.actions
  = link_to 'Back to Image', @image

