// Usage:
// First line to display image
// Second line to display image thumb and open large image on click
//
// TODO: Pass selector variable to choose image on thumb with link to image
//
//
//= link_to image_tag(image.file_url(:thumb).to_s), image.file_url.to_s, :target => '_blank'
%div{:id => image.id, :class => 'item_selector'}= image_tag image.file_url.to_s
